{% extends "base.html" %}

{% block title %}About Me - Youssef Atef{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center min-vh-100">
        <div class="col-md-8" style="color: rgba(240, 248, 255, 0.77);">
            <h2 id="about">About Me</h2>
            <p>
                My name is Youssef Atef, a 24-year-old data scientist based in Cairo, Egypt.  
                I hold a bachelor's degree in Business Information Systems from Helwan University and a diploma in Data Science from the Institute of Information Technology (ITI).
            </p>
            <p>
                I am deeply passionate about data science, machine learning, and deep learning.  
                My expertise includes building both supervised and unsupervised machine learning models,  
                developing deep learning applications using PyTorch, TensorFlow, and Hugging Face,  
                and working with large language models (LLMs).  
            </p>
            <p>
                In addition to modeling, I have experience with data engineering tools such as Apache Airflow, Apache Spark, and ETL pipelines.  
                I am also proficient in data visualization and analytics using Power BI, Tableau, and Seaborn.  
            </p>
            <p>
                I thrive on solving complex problems, exploring new technologies, and contributing to impactful projects.  
                Whether it's optimizing data pipelines, deploying AI solutions, or extracting insights from data,  
                I am always eager to push boundaries and innovate.  
            </p>
            <p>
                I am currently open to new opportunities where I can apply my skills, collaborate with like-minded professionals,  
                and make a meaningful impact. If you're looking for a dedicated and analytical data scientist,  
                let’s connect!  
                <a href="/contact" class="fw-bold text-decoration-none text-primary">Contact Me</a>
            </p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="/static/images/me.png" width="500px" alt="Youssef Atef">
        </div>
    </div>
</div>
{% endblock %}
